app = "url-shortener-yuzu"
primary_region = "nrt"

[build]
  dockerfile = "Dockerfile"

[env]
  BASE_URL = "https://url-shortener-yuzu.fly.dev"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
